body {
    background: url('back.png');
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: rgba(77, 200, 214, 0.9);
    text-align: center;
    padding: 10px;
}

#header-img {
    animation: slide-in 1s ease-in-out;
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

.login-container {
    flex: 1;
    display: flex;
    flex-direction: column; /* Allow centering vertically */
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px; /* Increase the padding */
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #4DC8D6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    max-width: 150px; /* Adjust the button size */
}

button:hover {
    background: #1A80C4;
}

footer {
    background: rgba(26, 128, 196, 0.9);
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 10px 0;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
