body {
    background: url('floor.png');
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: 100% calc(100% - 40px); /* Set background size to cover all but the footer */
    background-position: top center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative; /* Add this line */
}


header {
    background: rgba(77, 200, 214, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 40px; /* Set a specific height for the header */
}

#header-img {
    animation: slide-in 1s ease-in-out;
    max-width: 100%;
    display: block;
}

#sign-out-button {
    background: #272873;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
}

#sign-out-button:hover {
    background: #1A80C4;
}

.transparent-button {
    color: #FFFFFF;
    background: transparent;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.transparent-button:hover {
    color: #1A80C4;
}

#onebedroom1-button {
    background:transparent;
    color: #0f0f0e;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width:127px; 
    height: 189px;
    top: 64%; /* Position it in the center vertically */
    left: 33.8%; /* Position it in the center horizontally */
    padding: 17px;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%); /* Center the button */
    z-index: 1; /* Ensure the button appears above the background image */
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

#onebedroom1-button:hover {
    background: rgba(246, 158, 5, 0.4);
}

#onebedroom2-button {
    background:transparent;
    color: #0f0f0e;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width:127px; 
    height: 189px;
    top: 64%; /* Position it in the center vertically */
    left: 42.8%; /* Position it in the center horizontally */
    padding: 17px;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%); /* Center the button */
    z-index: 1; /* Ensure the button appears above the background image */
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

#onebedroom2-button:hover {
    background: rgba(246, 158, 5, 0.4);
}

#doublestudio1-button {
    background:transparent;
    color: #0f0f0e;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width:139px; 
    height: 170px;
    top: 31%; /* Position it in the center vertically */
    left: 33.8%; /* Position it in the center horizontally */
    padding: 30px;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%); /* Center the button */
    z-index: 1; /* Ensure the button appears above the background image */
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

#doublestudio1-button:hover {
    background: rgba(246, 158, 5, 0.4);
}

#doublestudio2-button {
    background:transparent;
    color: #0f0f0e;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width:139px; 
    height: 170px;
    top: 31%; /* Position it in the center vertically */
    left: 63%; /* Position it in the center horizontally */
    padding: 30px;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%); /* Center the button */
    z-index: 1; /* Ensure the button appears above the background image */
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

#doublestudio2-button:hover {
    background: rgba(246, 158, 5, 0.4);
}

#singlestudio1-button {
    background:transparent;
    color: #0f0f0e;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width:96px; 
    height: 170px;
    top: 31%; /* Position it in the center vertically */
    left: 41.6%; /* Position it in the center horizontally */
    padding: 30px;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%); /* Center the button */
    z-index: 1; /* Ensure the button appears above the background image */
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

#singlestudio1-button:hover {
    background: rgba(246, 158, 5, 0.4);
}
#singlestudio2-button {
    background:transparent;
    color: #0f0f0e;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width:96px; 
    height: 170px;
    top: 31%; /* Position it in the center vertically */
    left: 55.3%; /* Position it in the center horizontally */
    padding: 30px;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%); /* Center the button */
    z-index: 1; /* Ensure the button appears above the background image */
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

#singlestudio2-button:hover {
    background: rgba(246, 158, 5, 0.4);
}

#twobedroom-button {
    background:transparent;
    color: #0f0f0e;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width:312px; 
    height: 157px;
    top: 65.4%; /* Position it in the center vertically */
    left: 57.3%; /* Position it in the center horizontally */
    padding: 30px;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%); /* Center the button */
    z-index: 1; /* Ensure the button appears above the background image */
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

#twobedroom-button:hover {
    background: rgba(246, 158, 5, 0.4);
}
.button-text {
    display: none; /* Initially hide the text */
}

.hover-button:hover .button-text {
    display: inline; /* Display the text when the button is hovered */
}

footer {
    background: rgba(26, 128, 196, 0.9);
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 10px 0;
    position: absolute; /* Change position to absolute */
    bottom: 0; /* Stick the footer to the bottom */
    width: 100%; /* Make the footer full-width */
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
